.main-text {
  line-height: 2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

html, body{
  height: 100%

}

body {
  border-bottom: 10px solid #4aaaa5;
  background: url('../images/what-the-hex.png');
  background-size: auto;

}

.nav-links {
  float: right;
  text-decoration:none;
  position: relative;
  left: -150px;
  top: 50px;

}

h2{
  font-size: 50px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#name {
  float: left;
  background-color: #4aaaa5;
  position: relative;
  left: 150px;
  top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#row1-images{
  position: relative;
  float:left;
}
#row2-images{

}
#row3-images{
  position: relative;
  float:left;
}
section {
  margin-top: 50px;
  width: 960px;
  margin: auto;
  background-color: #ffffff;
  overflow: auto;

}

#selfie {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
}
nav{
  background-color: white;
  height: 75px;
}

footer{
  background-color: #666666;
  height: 45px;
  position: absolute;
  bottom: 0px;
  width: 100%

}
.copywright {
  text-align: center;
}

#contact{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

@media screen and (max-width: 980px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 640px){

}
